@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center();
  flex-direction: column;
}

@mixin flex-center-row {
  @include flex-center();
  flex-direction: row;
}

.Main {
  @include flex-center-column();
  flex: 1;
  background-color: whitesmoke;
  .main-content {
    @include flex-center-column();
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 32px 32px 64px #bebebe, -32px -32px 64px #ffffff;
    width: 80%;
    padding: 15px;
    margin: 40px 0;

    .secondary-info {
      @include flex-center-row();
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}

hr {
  color: beige;
  border-width: 1px;
  width: 100%;
}
