.Navbar {
  height: 80px;
  background-color: #ca90c6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 2;
  .search-bar {
    background-color: #966b94;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 40px;
    border-radius: 10px;
    outline: none;
    font-size: 1.3rem;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .fa-search {
    transform: translate(30px, 0) scale(1.2);
    color: rgba(255, 255, 255, 0.5);
  }

  .autocomplete-dropdown-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.322);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .suggestion-item {
      font-size: 1.3rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
  }

  &:focus-within .fa-search {
    color: rgba(255, 255, 255);
    transition: all 0.2s;
  }
}
